<!--<div style="height: 30%;width: 20%;">-->
<!--  <mat-card>-->
<!--&lt;!&ndash;      <img mat-card-image src="assets/images/mobile.jpg" alt="mobile image" >&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-card-title> Realme 2 pro</mat-card-title>&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-card-header><strong>Rs.10,000</strong></mat-card-header>&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-card-content>Specifications: 4GB RAM, 64GB storage</mat-card-content>&ndash;&gt;-->
<!--&lt;!&ndash;    <mat-card-footer [ngStyle]="{'justify-content':'space-between'}">&ndash;&gt;-->
<!--&lt;!&ndash;      <button mat-stroked-button>Buy Now</button>&ndash;&gt;-->
<!--&lt;!&ndash;      <button mat-stroked-button>Add to Cart</button>&ndash;&gt;-->
<!--&lt;!&ndash;  </mat-card-footer>&ndash;&gt;-->

<mat-grid-list cols="4">
<mat-grid-tile>
    <div onClick="location.href='/products'" class="productDiv">
    <mat-card>
      <img mat-card-image src="assets/images/mobile.png" alt="image" class="productImage" style="margin-left: 5px;">
      <mat-card-content>
        <mat-card-header>
          <mat-card-title>Redmi Note 7 pro</mat-card-title>
          <mat-card-subtitle>price:97000</mat-card-subtitle>
        </mat-card-header>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button style="padding-left: 10px;margin-left: 25px;" (click)="onBuyNow()">Buy now</button>
        <button mat-button>Add to Cart</button>
      </mat-card-actions>
    </mat-card>
    </div>
</mat-grid-tile>
</mat-grid-list>


<!--<mat-card class="example-card">-->
<!--  <mat-card-header>-->
<!--    <div mat-card-avatar class="example-header-image"></div>-->
<!--    <mat-card-title>Shiba Inu</mat-card-title>-->
<!--    <mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
<!--  </mat-card-header>-->
<!--  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
<!--  <mat-card-content>-->
<!--    <p>-->
<!--      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.-->
<!--      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally-->
<!--      bred for hunting.-->
<!--    </p>-->
<!--  </mat-card-content>-->
<!--  <mat-card-actions>-->
<!--    <button mat-button>LIKE</button>-->
<!--    <button mat-button>SHARE</button>-->
<!--  </mat-card-actions>-->
<!--</mat-card>-->
