
<!--  <mat-list>-->
<!--    <mat-list-item>-->
<mat-card>
      <div class="container">
        <div class="imageDiv">
          <img src="assets/images/mobile.png" class="productImage">
        </div>
        <div class="orderDetailsDiv" >
          <mat-list>
            <mat-list-item>
              <div class="details">
                <h2 matLine>Product Name:</h2>
                <h2 matLine>Price:</h2>
                <h2 matLine>Ordered Date:</h2>
                <h2 matLine>Other details:</h2>
              </div>
            </mat-list-item>
          </mat-list>
          <button mat-raised-button (click)="openDialog()">Cancel Order</button>
        </div>
      </div>
</mat-card>


<!--    </mat-list-item>-->
<!--  </mat-list>-->

